<div class="main">
  <% @tasks.each do |task| %>
    <div class="container">
      <div>due <%= task.limit_date %></div>
      <br>
      <div><%= task.title %></div>
      <br>

      <wrap class="btn btn-flat-border">
        <%= link_to("詳細", "/task/show/#{task.id}") %>
      </wrap>
    </div>
  <% end %>
</div>